ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  font: inherit;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: inherit;
}

body {
  background-color: #d2d2d2;
  font-family: "Montserrat", sans-serif;
  margin: auto;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.container {
  width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 374.98px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 767.98px;
  }
}

/* --------------- TITLE ----------- */
.main-title {
  text-align: center;
  font-size: 22px;
  padding: 20px;
  text-shadow: 1px 1px grey;
}

.main-text {
  padding: 10px;
  font-size: 18px;
  text-indent: 1rem;
  font-weight: 500;
}

.text-weight {
  font-weight: 700;
}

/* -------------- price ---------*/
.price {
  display: flex;
}

.price-box {
  background-color: rgb(20, 95, 99);
  color: white;
  padding: 15px;
  width: 50%;
  text-align: center;
}

.price-border {
  border-left: 1px solid white;
}

.price-text {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}

.price-num {
  font-size: 25px;
  font-weight: 600;
  text-shadow: 1px 1px rgb(81, 80, 80);
}

.price-old-num {
  text-decoration: line-through;
}

/* ----------- timer -------- */

.timer {
  padding: 20px;
  text-align: center;
}

.timer-header {
  margin-bottom: 20px;
}

.timer-box {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.time-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(
    to bottom,
    rgba(20, 95, 99, 1),
    rgba(20, 95, 99, 0.4)
  );
  padding: 10px;
  width: 80px;
  border-radius: 10px;
}

.time {
  color: white;
  font-weight: 500;
  font-size: 23px;
}

.time-box-text {
  color: white;
  font-size: 15px;
}

/* ------------ order link ---------- */

.order-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
.order-link {
  background-color: #004154;
  padding: 20px 25px;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  transition: background-color 250ms linear;
}

.order-link:hover,
.order-link:focus {
  background: #02839a;
}

.secondary-text {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}

.secondary-text-bold {
  font-size: 16px;
  color: rgb(219, 3, 68);
  font-weight: 600;
}
/* _______________________________ */
.slider-container {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
}

.slider-img {
  width: 100%;
}

.slider-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 10px;
}

.slider-btn {
  background-color: rgb(181, 181, 181);
  padding: 10px;
  border-radius: 15px;
  /* transition: background-color 250ms linear; */
}

.slider-btn:hover .arrow-icon,
.slider-btn:focus .arrow-icon {
  fill: rgb(28, 179, 187);
}

.arrow-icon {
  width: 20px;
  height: 20px;
  fill: rgb(20, 95, 99);
  transition: fill 150ms linear;
}

/* information */

.information {
  padding: 20px 15px;
}

.information-title {
  text-align: center;
  margin-bottom: 15px;
  color: rgb(20, 95, 99);
}

.information-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4rem;
  text-indent: 0.7rem;
  margin-bottom: 10px;
}

.animation {
  margin-bottom: 40px;
}

/*---------- advantages ---------- */

.advantages {
  padding: 20px 10px;
  text-align: center;
}

.advantages-title {
  margin-bottom: 20px;
  color: rgb(20, 95, 99);
}

.advantages-list-item {
  margin-bottom: 20px;
}

.advantages-img {
  width: 150px;
  margin: 0 auto;
}

.advantages-text {
  font-size: 18px;
  font-weight: 500;
}

/* ------------ video */
.video {
  width: 100%;
  margin-bottom: 20px;
}

/* ------------- reviews */

.reviews {
  padding: 20px 15px;
}

.reviews-title {
  margin-bottom: 20px;
  color: rgb(20, 95, 99);
  text-align: center;
}

.reviews-text {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.reviews-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3db;
  padding: 20px 10px;
  border-radius: 15px;
  box-shadow: 2px 2px rgb(173, 173, 173);
}

.review-photo {
  border-radius: 150px;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.review-name {
  font-weight: 600;
  margin-bottom: 15px;
  color: rgb(20, 95, 99);
}

.review {
  text-align: center;
}

/* ------------ how to order */

.how-to-order {
  padding: 20px 10px 0px;
  text-align: center;
}

.how-title {
  margin-bottom: 30px;
}

.how-list {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

.how-list-item {
  background-color: rgb(20, 95, 99);
  padding: 15px;
  border-radius: 15px;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  position: relative;
}

.how-icon {
  width: 35px;
  height: 35px;
  fill: white;
}

.how-text {
  color: white;
  font-size: 14px;
}

.how-number {
  position: absolute;
  color: white;
  font-weight: 600;
  background-color: rgb(20, 95, 99);
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -165%);
  border: 1px solid white;
}

@media screen and (min-width: 375px) {
  .how-list {
    max-width: 350px;
  }

  .how-list-item {
    gap: 15px;
  }
}

.form-box {
  padding: 20px 10px;
  text-align: center;
}

.order-title {
  margin-bottom: 20px;
}

.order-text {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  margin: 20px auto;
}

.form-input {
  border: none;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
}

.input-address::placeholder {
  font-size: 16px;
}

.order-submit {
  background-color: rgb(20, 95, 99);
  padding: 20px;
  color: white;
  border-radius: 25px;
  font-weight: 600;
  font-size: 20px;
  transition: background-color 250ms linear;
}

.order-submit:hover,
.order-submit:focus {
  background-color: rgb(2, 59, 62);
  box-shadow: 2px 2px 5px rgb(204, 204, 204);
}

@media screen and (min-width: 768px) {
  .form-box {
    padding: 30px 20px;
  }

  .form {
    max-width: 500px;
    gap: 30px;
  }
}
/* ----------/ order -------- */

/* ---------- politic ----------- */
.politic {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  gap: 15px;
}

.politic-link {
  text-decoration: underline;
  font-size: 12px;
}

/* modal-thanks */
.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 500ms linear, visibility 700ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.thanks {
  background-color: #fff;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.thanks-title {
  text-align: center;
}

.thanks-link {
  background-color: rgb(20, 95, 99);
  color: white;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 25px;
  transition: background-color 250ms linear;
}

.thanks-link:hover,
.thanks-link:focus {
  background-color: #004154;
}

@media screen and (min-width: 768px) {
  .thanks {
    padding: 30px 25px;
    gap: 25px;
  }

  .thanks-link {
    padding: 15px 30px;
  }
}
